@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Fredoka', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-white text-black;
}

::selection {
  @apply bg-primary-300 text-white;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
}

ul > li {
  cursor: pointer;
}

.tm-input-base {
  @apply w-full;
  @apply mt-4;

  input {
    @apply w-full;
    @apply px-2 py-1;
    font-size: inherit;
  }
}

.cta-primary {
  @apply bg-primary-500 rounded-xl;
  @apply text-white font-medium;
  @apply px-3 py-2;
  @apply transition-colors duration-300;
  @apply cursor-pointer;

  @apply hover:bg-primary-400;
}

.container {
  @apply w-full mx-auto;
  @apply md:w-10/12;
  @apply px-4 py-2;
}